.nav {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    transform: translate(0, 50px);
}

.nav :any-link{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    color: #a2a8d3;
    text-decoration: none;
}

.nav a:hover{
    background: rgba(49, 49, 49, 0.8);
}