body {
  /* color: #5e63b6; */
  background-color: #0c0118;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

@media screen and (min-width: 768px) {
  .planetlist {
    grid-template-columns: repeat(3, 1fr);
    /* align-items: start */
  }
}

.planetlist {
  width: 90w;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.planet {
  background: rgba(10, 3, 19, 0.671);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* rgba(10, 3, 19, 0.671) */
/* rgba(12, 5, 22, 0.671) */
/* rgba(8, 4, 14, 0.671) */
img {
  width: 261px;
  height: 261px;
  /* max-width: 100%; */
  height: auto;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;

}
.planet h2 {
  color: #27296d;
  margin-top: 0.5rem;
}

.planet h4 {
  color: #a2a8d3;
  letter-spacing: 2px;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  /* position: absolute; */
  /* bottom: 0*/
} 
